<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>

    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.0/journal/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"></link>
   <link rel="shortcut icon" href="https://github.com/favicon.ico">
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
  -->
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav" role="navigation">
            <li><a href="docs.html">Docs</a></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Downloads<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
              <li><a tabindex="-1" href="/torrents.html">Torrents</a></li>
              <li><a tabindex="-1" href="/vm.html">Client VM</a></li>
              <li><a tabindex="-1" href="/source.html">Source code</a></li>
            </ul>
            </li>
            <li class="divider"></li>
            <li><a href="/dblite">Query MySQL</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="page-header">
          <iframe src="http://ghbtns.com/github-btn.html?user=gousiosg&repo=github-mirror&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="gousiosg" data-hashtags="ghtorrent">Tweet</a>
          <div class="g-plusone" data-size="medium"></div>
          <a href="http://news.ycombinator.com/submit" class="hn-share-button">Vote on HN</a><br/>
<script type="text/javascript" src="http://en.reddit.com/buttonlite.js?i=1"></script>
                  </div>
        </div>
        <div class="span10">
          <div class="content">
            {{ content }}
          </div>

          <footer>
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/gr/deed.en"><img hspace="4" align="left" alt="Creative Commons License" style="border-width:0" src="http://creativecommons.org/images/public/somerights20.png"/></a>
          &copy; {{ site.author.name }} 2012 &mdash; {{ site.time | date: '%Y' }}.
          Except where otherwise noted, all original material on this page
          created by Georgios Gousios is licensed under the Creative Commons
          Attribution-Share Alike 3.0 Greece License.
          </p>
          </footer>
        </div>
      </div>
    </div> <!-- /contaner -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <!-- Place this tag after the last +1 button tag. -->
    <script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
       })();
     </script>
     <script>
    (function(d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.src = '//hnbutton.appspot.com/static/hn.min.js';
        s.parentNode.insertBefore(g, s);
    }(document, 'script'));
</script>
     {% include JB/analytics %}
   </body>
 </html>
